body {
    background-color:black;
    color:azure;
    width: 100%;
    height: 100vh;
}

.navbar {
    margin-left: -9px;
    color: aliceblue;
    background-color: rgb(211, 124, 124);
    font-size: 70px;   
    font-family: 'Dancing Script', cursive;
    text-align: center;
    background-image: url('https://images.hdqwalls.com/download/1/clouds-summer-weather-5k-1b.jpg');
}

.citySearchContainer {
    background-color: black;
    margin: 0;
    width: 100%;
    height: 92vh;
    display: flex;
}

.searchHistoryItem {
    border-color: black;
    background-color: bisque;
    border-radius: 13px;
    height: 33px;
    margin: 2px;
    color: black;
    text-align: center;
    font-family: 'Lemon';
}

.weatherInfo {
    background-color: blanchedalmond;
    color: black;
    margin-top: 14px;
    margin-left: 82px;
    height: 300px;
    padding: 22px;
    border-radius: 50px;
}

#forecastContainer {
   
    color: black;
    display: flex;
}

#weatherResultsContainer {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Lemon', serif;;
}

@media screen and (max-width:1504px) {
    #forecastContainer {
        color: black;
        display: flex;
        flex-direction: column;
    }

  }

  @media screen and (max-width:540px) {
    .citySearchContainer {
        background-color: black;
        margin: 0;
        width: 100%;
        height: 92vh;
        display: flex;
        flex-direction: column;
    }
    .weatherInfo {
        background-color: blanchedalmond;
        color: black;
        margin-top: 14px;
        margin-left: -7px;
        height: 300px;
        padding: 22px;
        border-radius: 50px;
    }
    body {
        background-color: black;
        color: azure;
        width: 100%;
        text-align: center;
        height: 100vh;
        justify-content: center;
    }

    .searchHistoryItem {
        border-color: black;
        background-color: bisque;
        border-radius: 13px;
        height: 33px;
        margin: 2px;
        margin-left: -9px;
        color: black;
        text-align: center;
        font-family: 'Lemon';
    }
    
  }
  